@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 11%,
    rgba(45, 45, 210, 1) 100%,
    rgba(2, 0, 36, 0) 100%
  );
}

.wrapper {
    background: #ffffff;
    width: 450px;
    padding: 30px;
    border-radius: 10px;
}
