@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 11%,
    rgba(45, 45, 210, 1) 100%,
    rgba(2, 0, 36, 0) 100%
  );
}

.wrapper {
    background: #ffffff;
    width: 450px;
    padding: 30px;
    border-radius: 10px;
}

.wrapper .pass-field {
    height: 65px;
    width: 100%;
    position: relative;
}

.pass-field input {
    width: 100%;
    height: 100%;
    padding: 0 18px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
}

.pass-field i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    cursor: pointer;
}

.pass-field i:hover {
    color: rgb(79, 105, 234);
}

.wrapper .content {
    margin: 20px 0 20px;
}

.content p {
    font-size: 1.3rem;
}

.content .requirement-list {
    margin-top: 18px;
}

.requirement-list li {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.requirement-list li i {
    margin-right: 10px;
    font-size: 0.6rem;
    width: 10px;
}
